.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: #1db954;
    margin: 10px 0;
}

.app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    padding: 20px 50px;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    gap: 20px;
}

.aside {
    position: sticky;
    top: 20px;
    width: 300px;
    min-height: 50vh;
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    padding: 50px 10px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    min-height: 50vh;
}

.heading {
    font-size: 2em;
    margin: 20px 0;
    color: #1db954;
}