.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50vh;
    max-height: 70vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: 2px solid #1db954;
    padding: 10px 15px;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
}

.saveButton {
    display: flex;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
    padding: 10px 16px 8px 16px;
    cursor: pointer;
    background-color: #1db954;
    color: #f9f9f9;
    font-size: 16px;
    border-radius: 18px;
}

.saveIcon {
    width: 26px;
    height: 26px;
    margin-right: 4px;
    vertical-align: middle;
}