.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50vh;
    max-height: 70vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: 2px solid #1db954;
    padding: 10px 15px;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
}

.input {
    font-size: 1.17em;
    border: none;
}

.input:focus, .input:hover, .input:active {
    outline: none;
    border: none;
    border-left: 1px solid #1db954;
}

.list {
    width: 100%;
    max-height: 40vh;
    height: 100%;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.songItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
}

.songItem {
    display: flex;
    flex-direction: column;
}

.songName{
    color:#004466;
    font-weight: 600;
}

.artist{
    color:#666666;
    font-size: 0.9em;
}


.removeButton {
    cursor: pointer;
    color: #ff4444;
    font-size: 0.9em;
}

.saveButton {
    display: flex;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
    padding: 10px 16px 8px 16px;
    cursor: pointer;
    background-color: #1db954;
    color: #f9f9f9;
    font-size: 16px;
    border-radius: 18px;
}

.saveIcon {
    width: 26px;
    height: 26px;
    margin-right: 4px;
    vertical-align: middle;
}